body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Set a background color for the body */
}

.box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333; /* Set color for the heading */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #ddd; /* Add a border for better visibility */
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    margin-top: 16px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
