* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; 
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 30px;
    margin-top: 0;
    color: #444; 
    display: flex;
    align-items: center;
    background-color: #007BFF; 
    border-radius: 8px;
    padding: 15px;
    color: #fff;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #007BFF;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.icon:hover {
    background-color: #0056b3; 
}

.upload-btn-wrapper {
    display: flex;
    align-items: center;
}

.btn {
    border: 2px solid #007BFF;
    color: #007BFF;
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
}

.filter-input {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
    font-size: 20px;
    color: #555; 
}

select {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.file-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.file-list li {
    font-size: 20px;
    margin-bottom: 8px;
    color: #333;
}
